
.experience-bar{
    border-right: 1px solid var(--white);
}

.experience-bar > div{
    display: flex;
    justify-content: center;
}

.experience-bar .i-area-user,
.experience-bar .i-search,
.experience-bar .i-home,
.experience-bar .i-favorites{
    font-size: var(--size-icons);
    cursor: pointer;
    color: var(--white);
    padding-bottom: 1rem;
    text-decoration: none;
}

.experience-bar .i-area-user:hover,
.experience-bar .i-search:hover,
.experience-bar .i-home:hover,
.experience-bar .i-favorites:hover{
    color: var(--gray);
}