
.experience-bar{
    background: var(--grey11);
    box-shadow: 2px 0px 8px var(--black);
    padding-top: 2rem;
}

.experience-bar div:first-child{
    display: grid;
}

.experience-bar .i-youtube{
    color: var(--red);
    font-size: 3rem;
    padding-bottom: 4rem;
    text-decoration: none;
}

.experience-bar .experience-icons{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    height: 3.75rem;
    align-items: center;
}

.experience-bar .i-area-user,
.experience-bar .i-search,
.experience-bar .i-home,
.experience-bar .i-favorites{
    font-size: var(--size-icons);
    color: var(--gray-silver);
    cursor: pointer;
    text-decoration: none;
}

.experience-bar .ant-btn{
    background: transparent;
    border: none;
}

.experience-bar .i-area-user:hover,
.experience-bar .i-search:hover,
.experience-bar .i-home:hover,
.experience-bar .i-favorites:hover,
.experience-bar .i-area-user:focus-visible,
.experience-bar .i-search:focus-visible,
.experience-bar .i-home:focus-visible,
.experience-bar .i-favorites:focus-visible{
    background: var(--grey21);
    color: var(--gray);
    border: none;
    outline: none;
}