.home h2 {
    color: var(--gray-silver);
    font-size: 1.5rem;
}

.home .content-videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    gap: 1rem;
    border-top: 4px solid var(--grey31);

    padding: 2rem 0rem;
}