.home h2 {
    color: var(--gray-silver);
    font-size: 2rem;
}

.home .btn-music{
    width: 100%;
    border: none;
    margin-bottom: 2rem;
    height: 2.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 2px solid var(--gray-silver);
    background: var(--grey31);
    color: var(--white);
}   

.home .btn-music:focus,
.home .btn-music:hover{
    background: var(--gray);
}