#keyboard{
	padding: 1rem;
}

#keyboard .letters button {
	background: var(--grey11);
	color: var(--gray-silver);

	border: none;
	padding: 0;

	display: inline-block;
	position: relative;
	cursor: pointer;
	text-align: center;

	font-size: 1.25rem;
	width: 3.375rem;
	height: 2.375rem;
	border-radius: 0.3125rem;
	margin: 0 0.5rem 0.75rem 0;
	line-height: 40px;
	transition: background-color 0.8s;
}


#keyboard #special-characters{
	font-size: 0.75rem;
	font-weight: bold;
}

.buttons-keyboard{
	background: var(--grey31);
	border: none;
	margin-right: 1.5rem;
	margin-top: 0.5rem;
	transition: background-color 0.8s;
}

#keyboard .letters button:focus,
#keyboard .letters button:hover,
.buttons-keyboard:hover,
.buttons-keyboard:focus{
	background: var(--gray-silver);
	border: none;
	color: #1C1C1C;
	font-weight: bold;
}