.list-videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    gap: 1rem;
}

.list-videos .videos{
    margin-bottom: 8rem;
}

.list-videos .videos.home div{
    max-width: 250px;
}

.list-videos .videos .title-videos{
    color: var(--white);
    font-size: 1rem;
}

.list-videos .videos .description-videos{
    color: var(--gray-silver);
    font-size: 0.75rem;
}

.list-videos .videos:hover,
.list-videos .videos:focus{
    box-shadow: 6px 6px 11px var(--black);
}

.list-videos .videos p img{
    border-radius: 4px;
    height: 210px;
}

.list-videos .videos.home,
.list-videos .home p img{
    height: 150px;
}

.list-videos .videos.search{
    margin-bottom: 0px;
    width: 100%;
}

.list-videos .videos.search:hover,
.list-videos .videos.search:focus{
    box-shadow: 4px 4px 10px var(--black);
}

.list-videos .videos.search p{
    margin-bottom: 0px;
}

.list-videos .videos.search .info-videos{
    padding: 2rem;
}