.list-videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.list-video.userNotLogged{
    gap: 1rem;
}

.list-videos .videos{
    padding: 0px;
    border: none;
    background: transparent;
    margin-bottom: 8rem;
}

.list-videos .info-videos{
    white-space: normal
}

.list-videos .videos.home{
    width: 266px;
}

.list-videos .videos.home div{
    max-width: 250px;
}

.list-videos .videos .title-videos{
    color: var(--white);
    font-size: 1rem;
}

.list-videos .videos .description-videos{
    color: var(--gray-silver);
    font-size: 0.75rem;
}

.list-videos .videos.home:hover,
.list-videos .videos.home:focus{
    box-shadow: 8px 8px 10px #ff0000e0;
}

.list-videos .videos p img{
    border-radius: 4px;
    height: 210px;
}

.list-videos .button-save{
    top: -40px;
    left: -302px;

    background: var(--gray-silver);
    border: none;
}

.list-videos .button-save.home{
    top: 0;
    left: -50px;
}

.list-videos .button-save:hover,
.list-videos .button-save:focus{
    background: var(--gray);
}

.list-videos .videos.home,
.list-videos .home p img{
    height: 150px;
}

.list-videos .videos.search{
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
}

.list-videos .videos.search:hover,
.list-videos .videos.search:focus{
    box-shadow: 4px 4px 10px var(--black);
}

.list-videos .videos.search p{
    margin-bottom: 0px;
}

.list-videos .videos.search .info-videos{
    padding: 2rem;
}

.ant-modal-footer button:focus{
    background: var(--red);
    color: white;
}