.login .content-login{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding: 7rem 0 7rem;
}

.login > h2{
    color: var(--gray-silve);
    font-size: 2rem;
}

.login .button-login{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 3.6rem;
}

.login #btn-login-submit span{
    border: none;
    color: var(--gray-silver);
}

.login #btn-login-submit {
    background: var(--red);
    border: none;
    box-shadow: none;
}

.login #btn-login-submit:hover,
.login #btn-login-submit:focus{
    background: #8B0000;  
    font-weight: bold;
}


.login .buttons-login{
    display: flex;
    justify-content: flex-end;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon{
    background: var(--red);
    border: none;
}

.login .ant-steps-icon{
    color: var(--white) !important;
}

.ant-steps-item-wait .ant-steps-item-icon{
    background: var(--grey31);
}

.ant-steps-item-wait .ant-steps-item-icon:hover,
.ant-steps-item-wait .ant-steps-item-icon:focus{
    border: none;
}

.ant-input-affix-wrapper,
.ant-input,
.ant-form-item-has-error .ant-input, 
.ant-form-item-has-error .ant-input-affix-wrapper, 
.ant-form-item-has-error .ant-input:hover, 
.ant-form-item-has-error .ant-input-affix-wrapper:hover{
    background: transparent;
    border: none;
    color: var(--gray-silver);
    border-bottom: 1px solid;
    border-color: var(--gray-silver);
    margin-top: 3rem;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover,
.ant-input:hover,
.ant-input:focus, 
.ant-input-focused,
.ant-input-affix-wrapper:focus, 
.ant-input-affix-wrapper-focused{
    border: none;
    box-shadow: none;
    border-bottom: 1px solid;
    border-color: var(--gray-silver);
}