
.search h2{
    color: var(--gray-silver);
    font-size: 2rem;
    margin: 0;
}
.search .content-search{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;

    padding: 2.5rem 0;
}

.search .buttons-search{
    display: flex;
    justify-content: flex-end;
    padding: 2rem 0;
}

.search #btn-search{
    background: var(--red);
    border: none;
    color: var(--gray-silver);
}

.search #btn-search:hover,
.search #btn-search:focus{
    background: #8B0000;  
    font-weight: bold;
}

.search #btn-search:disabled{
    background: var(--grey31);
}

.search .result-search div:first-child{
    display: flex;
    /* align-items: center; */
}

.search .result-search .content-result-search{
    padding-top: 3rem;
}

.search #btn-back-search{
    background: var(--red);
    color: var(--gray-silver);
    border: none;
    margin-right: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.search #btn-back-search span{
    font-size: 1rem;
}

.search #btn-back-search:hover,
.search #btn-back-search:focus{
    background: #8B0000;
}