@import '~antd/dist/antd.css';

:root{
    --white: #fff;
    --black: #000000;
    --grey11: #1C1C1C;
    --grey21: #363636;
    --grey31: #4F4F4F;
    --gray: #808080;
    --gray-silver: #C0C0C0;
    --text: #e2e2e2;
    --text-highlight: #B3B9FF;
    --title: #2E384D;
    --red: 	#A52A2A;
    --green: #4CD62B;
    --blue: #5965E0;
    --blue-dark: #4953B8;
    --blue-twitter: #2AA9E0;

    --size-icons: 2.5rem;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--grey21);
    color: var(--text);
    overflow: hidden;
}
.App{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 15fr;
    gap: 1.5rem;
}

.container{
    padding: 2.5rem 1rem;
}