:root{
    --white: #fff;
    --background: #1C1C1C;
    --gray: #808080;
    --gray-silver: #C0C0C0;
    --text: #e2e2e2;
    --text-highlight: #B3B9FF;
    --title: #2E384D;
    --red: #FF0000;
    --green: #4CD62B;
    --blue: #5965E0;
    --blue-dark: #4953B8;
    --blue-twitter: #2AA9E0;

    --size-icons: 2.5rem;
}

@media(max-width: 1080px){
    html{
        font-size: 93.75%;
    }
}

@media(max-width: 720px){
    html{
        font-size: 93.75%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--background);
    color: var(--text);
}

.container{
    font-family: Rajdhani;
    height: 100vh;
    margin: 0 auto;
    padding: 2.5rem 1rem;
    display: grid;
    grid-template-columns: 1fr 15fr;
    gap: 1.5rem;
}